* {
	margin: 0;
	padding: 0;
}

body{
	padding: 20px;
	font-family: "Open Sans Light", "Open Sans", sans-serif;
	color: #5b5b5b;
}


.doctors{
	width: 300px;
	height: 300px;
	border-radius: 3px 3px 3px 3px;
	padding: 15px;
	float: left;
	margin-right: 20px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpi1F2+mYmRiZmDg+H/fyaGP3/+///HAAYsrLx8//////3tKxMTM9P/fyBhZja2/wwMAAEGAOmuEq6FyIW5AAAAAElFTkSuQmCC');
}
.doctors label{
	display: block;
}

.appointments{
	border: 1px solid #999;
	border-collapse: collapse;
}
.appointments td, .appointments th{
	border: 1px solid #999;
	padding: 7px;
}
.appointments .info td.h{
	display: none;
}
.appointments .info td .row_app .free{
	color: #22aa22;
}
.appointments .info td .row_app .free:hover{
	color: #22cc22;
	text-decoration: none;
}
.appointments .info td .row_app .nonefree{
	color: #aa2222;
}

.appointments .row_app{
	margin-top: 7px;
}

.appointments .row_app .app_form{
	display: none;
}

.appointments .row_app .app_form table, .appointments .row_app .app_form table td{
	border: none;
}