* {
	margin: 0;
	padding: 0;
}

body{
	padding: 20px;
	font-family: "Open Sans Light", "Open Sans", sans-serif;
	color: #5b5b5b;
}

input, select{
	padding: 4px;
	border-radius: 3px;
	border: 1px solid #777;
}

.doctors{
	width: 300px;
	height: 160px;
	color: white;
	border-radius: 3px 3px 3px 3px;
	padding: 15px;
	float: left;
	margin-right: 20px;
	background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAIAAAAmkwkpAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpi1F2+mYmRiZmDg+H/fyaGP3/+///HAAYsrLx8//////3tKxMTM9P/fyBhZja2/wwMAAEGAOmuEq6FyIW5AAAAAElFTkSuQmCC');
}
.doctors label{
	display: block;
	margin-bottom: 10px;
}
.doctors select{
	width: 300px;
}
.doctors input[type=text]{
	width: 290px;
}
.doctors input[type=submit]{
	border: 1px solid #ffe35f;
	border-radius: 1px;
	width: 100%;
	height: 53px;
	background: url(data:image/gif;base64,R0lGODlhAQA1AMQAAP/SAP/MAP/NAP/OAP/PAP/QAP/RAP/GAP/HAP/IAP/JAP/KAP/LAP/AAP/BAP/CAP/DAP/EAP/FAP+6AP+7AP+8AP+9AP++AP+/AP+1AP+2AP+3AP+4AP+5AP///wAAACH5BAEAAB4ALAAAAAABADUAAAUrIAAYRmESxDAIQhAwy6IkCYIckhRBz+M0DczlYrFUKJTJpMPhbJ4aTSYTAgA7);
	text-transform: uppercase;
	font-family: "Open Sans", sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #fff;
	text-shadow: -1px -1px #ebab39;
	cursor: pointer;
}

.appointments{
	border: 1px solid #999;
	border-collapse: collapse;
}
.appointments td, .appointments th{
	border: 1px solid #999;
	padding: 7px;
}
.appointments .info td.h{
	display: none;
}
.appointments .info td .row_app .free{
	color: #22aa22;
}
.appointments .info td .row_app .free:hover{
	color: #22cc22;
	text-decoration: none;
}
.appointments .info td .row_app .nonefree{
	color: #aa2222;
}

.appointments .row_app{
	margin-top: 7px;
}

.appointments .row_app .app_form{
	display: none;
}

.appointments .row_app .app_form table, .appointments .row_app .app_form table td{
	border: none;
}